<h1>Search Movies</h1>

@using (Html.BeginForm("Find","Movie", FormMethod.Post)){
	<p>
		Enter Id : <input type="text" id="id" name ="id"/>
	</p>
	<p>
		Enter Id : <input type="submit" value="Find Movie"/>
	</p>
}