<h1> Welcome to Index View</h1>
<hr />
<h3 style="text-align:center">
    This application is developed by @ViewBag.Name and age is @ViewData["Age"];
</h3>

@{
    <p style="text-align:center">
        A coder and a developer having great passion in learning new <br/>
        technologies. I have worked on multiple projects and technologies such <br>
        as web development, android development, python, etc.<br> 
        My pastime activities are reading books, playing games and playing badminton. <br>
        My bucket list items include skateboarding, sky-diving, bungee-jumping<br>
        and much more. <br>
        Feel free to connect...
    </p>
}