@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
<nav style="text-align:center">
    @Html.ActionLink("Index","Index","Home")&nbsp;&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("About","About","Home")&nbsp;&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Contact","Contact","Home")&nbsp;&nbsp;&nbsp;&nbsp;

</nav>
<div style="background-color:bisque">
    @RenderBody()
</div>