<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href = "~/css/MainStyles.css" rel= "stylesheet" />
</head>
<body>
    <h1>Nums Digital</h1>
    <hr />

    <nav style = "text-align:center; background-color: lightgray">
        <a href = "@Url.Action("Index", "Home")" > Home </a> &nbsp;&nbsp;&nbsp;&nbsp;
        <a href = "@Url.Action("Info", "Movie")">Movies</a>
    </nav>
    <div>
        @RenderBody()
    </div>
    <footer style="text-align: left; font-style:italic">
        Contact: <br />
        LnT Infotech <br />
        Mahape
    </footer>
</body>
</html>
